<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--找userDao 里面的对应方法名字，e.g "getAllUser"-->
<mapper namespace="com.lee.test.dao.UserDao">
    <resultMap type="User" id="userResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="getAllUser" resultMap="userResultMap">
        select * from user
    </select>

    <insert id="saveUser" >
        insert into user (id,name) value (#{id},#{name})
    </insert>
</mapper>
